.scar_js{
    bottom: 0px;
    background: #ddd;
    position: fixed;
    height: 50px;
    left: 0;
    float: left !important;
}
#sure_render{
    height: 50px;
}
#confirm_deliver{
    width: 70%;height: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5%;
    font-size: 14px;
}
.aminput{
    padding-bottom: 10px;
}
.aminput label{
    text-align: right;
    margin-top: 5px;
    width: 20%;
    min-width: 100px;
}
.aminput input{
    height: 30px;
    float: left !important;
}
.item-list{
    margin: 0;
}
@media only screen and (max-width: 640px){
#confirm_deliver{
    width: 90%;height: 90%;
}
.aminput label{
    text-align: left;
    width: 100%;
}
}
@media only screen and (min-width: 640px){
#confirm_deliver .td-price,#confirm_deliver .td-number,#confirm_deliver .td-operation {
    margin-top: 50px;
}
#confirm_deliver .td.td-amount .sl{width:auto;margin-right:0 ;} 
#confirm_deliver .td.td-amount .sl .min,.td.td-amount .sl .add{display:inline-block;}
#confirm_deliver .td.td-amount .sl input.text_box{border:1px solid #ddd;}
#confirm_deliver .sl .am-btn{
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 15px;
}
#confirm_deliver .main-wrap {
    margin-left: 0px;
}
}


/*-------------------------------------------------------------------------*/
 