.scar_js{
    bottom: 0px;
    background: #ddd;
    position: fixed;
    height: 50px;
    left: 0;
    float: left !important;
}
#sure_revbtn{
    height: 50px;
}
#confirm_rev{
    width: 80%;height: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5%;
    font-size: 14px;
}

#confirm_rev .item-list{
    margin: 0;
}

#confirm_rev .order-left{
    padding: 0;
}
 
 #Shortage_reason{
     width: 85%;
     height: 30px;
     margin-top: 10px;
 }
.item-list{
    margin: 0;
}
.am_thisRemark{
    padding-left: 24px;
    margin: 0;
}
#Shortage_type{
    float: left;
    margin-top: 10px;
    height: 30px;
    width: 120px;
}
@media only screen and (min-width: 1025px){
#confirm_rev .th-operation,#confirm_rev .td-operation {
    width: 20%;
}
.order-addresslist {
    height: 100px;
}
.order-infoaside {
     max-width: none; 
}
.main-wrap {
    margin-left: 0px;
}
}
@media only screen and (min-width: 640px){
.td-price, .td-number, .td-operation {
    margin-top: 50px;
}
.td.td-amount .sl{width:auto;margin-right:0 ;} 
.td.td-amount .sl .min,.td.td-amount .sl .add{display:inline-block;}
.td.td-amount .sl input.text_box{border:1px solid #ddd;}
.sl .am-btn{
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 15px;
}
.main-wrap {
    margin-left: 0px;
}
}